.current-forecast,
.city,
.current-temp,
.current-others {
    display: flex;

}

.current-forecast {
    flex-wrap: wrap;
    justify-content: flex-start;

    h2 {
        text-transform: capitalize;
        font-size: 3.7rem;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
    }

    p{
        font-size: 1.1rem;
    }
}

.city {
    flex-basis: 100%;
    flex-flow: column;
    align-items: flex-start;
    padding-left: 30px;

    h2{
        margin-top: 1.2rem;
    }
    p{
        margin-top: .1rem;
    }
}




.current-temp,
.current-others {
    flex-basis: 50%;
}

.current-temp,
.city {
    cursor: default;
}

.current-temp {
    position: relative;
    justify-content: center;
    align-items: center;
}

.current-temp h2 {
    font-size: 4.8rem;
    margin: 0;
}

.current-temp p {
    position: absolute;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: left;
    margin: 0;
}

.current-others {
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.current-others>* {
    flex-basis: calc(100%/3);
    transition: .4s;
    cursor: default;
}

.current-others>*:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.current-others>*>h3 {
    font-size: 1.8rem;
}

.current-others>*>* {
    margin: 10px;
    font-weight: 300;
}
