@media(max-width:1200px) {

    .city {
        margin-top: 50px;
    }

    .forecast{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding-bottom: 5rem;
    }
}

@media(max-width:768px) {

    .current-others>* {
        flex-basis: calc(100%/2);
    }

    input {
        min-width: 50vw;
    }

    .forecast{
        grid-template-columns: 1fr 1fr;
    }

    .current-temp,
    .current-others {
        flex-basis: 100%;
        margin-top: 50px;
    }
}

@media(max-width:576px) {

    .current-temp {
        margin-bottom: 30px;
    }

    .forecast{
        grid-template-columns: 1fr;
    }
}