.weatherApp{
  position: relative;
  text-align: center;
  width: 50%;
  height: 65vh;
  padding: 30px;
  z-index: 1;
  color: white;
}

.bgImage{
  background: linear-gradient(rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, .8)), url(../images/main-bg.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}